#!/bin/sh
#
#

clear

#Install pre-requisites. 12.10
sudo  -y apt-get install libxslt1.1 libxslt-dev xvfb build-essential git-core curl libyaml-dev libssl-dev

#Download and install RVM
#Download/install RVM:
curl -L https://get.rvm.io | bash -s stable --ruby

#Update .bashrc:
echo '[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"' >> ~/.bashrc 
echo 'export PATH=$HOME/.rvm/bin:$PATH' >> ~/.bashrc

#Activate changes:
. ~/.bashrc

#Install Ruby 2.0.0 (if you don't have it already):
rvm install 2.0.0


#Set RVM to use/default to 2.0.0:
rvm use 2.0.0 --default

#Set up SiriProxy
#Install SiriProxy Gem
gem install siriproxy

#Create ~/.siriproxy directory
mkdir ~/.siriproxy

#Generate Certificates
siriproxy gencerts

#Transfer certificate to your phone (it will be located at ~/.siriproxy/ca.pem, email it to your phone)


#Start SiriProxy (XXX.XXX.XXX.XXX should be replaced with your server's IP address, e.g. 192.168.1.100), nobody can be replaced with any un-privileged user.

rvmsudo siriproxy server -d 192.168.1.150 -u nobody

#Tell your phone to use your SiriProxy server as its DNS server (under your Wifi settings)

#Test that the server is running by saying "Test Siri Proxy" to your phone.



#Ending script
